---
# this is used for both cpp code and shader formatting, glsl follows the C-style formatting rule
Language: Cpp
BasedOnStyle: LLVM
AlignConsecutiveAssignments: Consecutive
ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: Never
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
InsertNewlineAtEOF: true
---

